{% extends "bootstrap/base.html" %}
{# import "bootstrap/fixes.html" as fixes #}
{# fixes.ie8() #}

{% block title %}SpacePhone{% endblock %}

{% block head %}
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="icon" type="image/png" href="http://spacephone.org/static/img/spacephone.png">
{% endblock %}

{% block scripts %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
{% endblock %}

{% block content %}

{% endblock %}
