{% extends "spacephone/base.html" %}

{% block title %}SpacePhone &raquo; Configuration{% endblock %}

{% block content %}
{% include "spacephone/_header.html" %}

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">SpacePhone</a></li>
    <li class="active">Configuration</li>
  </ol>
  <h2>SpacePhone Configuration</h2>
  <p>
    Any ENUM-capable <abbr title="Private Branch eXchange">PBX</abbr> can make
    use of the SpacePhone telephone network, examples are provided below.
  </p>

<ul>
  {% for item in items %}
    <li><a href="{{ item }}">{{ item }}</a></li>
  {% endfor %}
</ul>

</div>
{% endblock %}
